[tool.poetry]
name = "docker-compose-diagram"
version = "0.1.0"
description = ""
authors = ["Skonik <s.konik.jobk@gmail.com>"]

[tool.poetry.dependencies]
python = "^3.8"
PyYAML = "^6.0"
diagrams = "^0.20.0"
click = "^8.0.3"

[tool.poetry.dev-dependencies]

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
